body {
				background-image: linear-gradient(to top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
				background-size: cover;
				background-repeat: no-repeat;
				height: 800px;
}

.low {
				height: 150px;
				width:150px;
				border-radius: 75px;
}

.bot{
				font: bold italic 30pt Arial;
				color: white;
}

.btn{
				display: inline-flex;
}

button{
				width: 150px;
				height: 40px;
				border: none;
				border-radius: 2px;
				font: normal 11pt Arial;
				color: white;
				background-color: #404eff;
				box-shadow: 0px 0px 4px black;
				
}

button:hover{
				width: 148px;
				height: 38px;
				border: none;
				border-radius: 2px;
				font: normal 11pt Arial;
				color: white;
				background-color: #3641d7;
				box-shadow: 0px 0px 4px black;
}

.espaco{
				width: 25px;
}

.comandos{
				border: 3px solid black;
				height: 600px;
}

.comando{
				font: bold 13pt Arial;
}